.work-container-six{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  padding:20px 10px;
  max-width: 1107px;
  margin: 0 auto;
}

@media(min-width:600px){
  .work-card-six{
    width: 32%;

  }
}
.work-card-six{
  padding:10px;
}
